In [1]:
from dotenv import load_dotenv
import os
import pandas as pd


load_dotenv()
CH_HOST = os.getenv('CH_HOST')
CH_PORT = os.getenv('CH_PORT') 
CH_USER = os.getenv('CH_USER')
CH_PASSWORD = os.getenv('CH_PASSWORD')

import clickhouse_connect
client = clickhouse_connect.get_client(host=CH_HOST, port=CH_PORT, user=CH_USER, password=CH_PASSWORD)

In [2]:
df = pd.read_csv(r'../data/HI-Large_Trans.csv')
df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/08/01 00:17,20,800104D70,20.0,800104D70,6794.63,US Dollar,6794.63,US Dollar,Reinvestment,0.0
1,2022/08/01 00:02,3196,800107150,3196.0,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0.0
2,2022/08/01 00:17,1208,80010E430,1208.0,80010E430,1880.23,US Dollar,1880.23,US Dollar,Reinvestment,0.0
3,2022/08/01 00:03,1208,80010E650,20.0,80010E6F0,73966883.00,US Dollar,73966883.00,US Dollar,Cheque,0.0
4,2022/08/01 00:02,1208,80010E650,20.0,80010EA30,45868454.00,US Dollar,45868454.00,US Dollar,Cheque,0.0

In [3]:
df.columns

Index(['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1',
       'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering'],
      dtype='object')

In [4]:
df.rename(columns={'Account.1': 'Account_1'}, inplace=True)

Same thing
df = df.rename(columns={'Account.1': 'Account_1'})
df.rename(columns={'Account.1': 'Account_1'}, inplace=True)

In [16]:
print(df.dtypes)

Timestamp             datetime64[ns]
From Bank                      int64
Account                       object
To Bank                      float64
Account.1                     object
Amount Received              float64
Receiving Currency            object
Amount Paid                  float64
Payment Currency              object
Payment Format                object
Is Laundering                float64
dtype: object

In [9]:
df.isna().sum()

Timestamp             0
From Bank             0
Account               0
To Bank               1
Account_1             1
Amount Received       1
Receiving Currency    1
Amount Paid           1
Payment Currency      1
Payment Format        1
Is Laundering         1
dtype: int64

In [17]:
df['Timestamp'] = df['Timestamp'].astype(str)
# df['Account.1'] = df['Account.1'].astype(str)
# df['Receiving Currency'] = df['Receiving Currency'].astype(str)
# df['Payment Currency'] = df['Payment Currency'].astype(str)
# df['Payment Format'] = df['Payment Format'].astype(str)

In [ ]:
client.command('DROP TABLE  if exists card_data.hi_large ')
client.command('''CREATE TABLE card_data.hi_large (
                                    Timestamp String
                                    ,`From Bank` Int64
                                    ,Account String
                                    ,`To Bank` Nullable(Float32)
                                    ,`Account_1` Nullable(String)
                                    ,`Amount Received` Nullable(Float64)
                                    ,`Receiving Currency` Nullable(String)
                                    ,`Amount Paid` Nullable(Float64)
                                   ,`Payment Currency` Nullable(String)
                                    ,`Payment Format` Nullable(String)
                                    ,`Is Laundering` Nullable(Float64)
) ENGINE = MergeTree()
    ORDER BY Timestamp''')

In [10]:
client.insert('card_data.hi_large', df)

In [2]:
df_small= pd.read_csv(r'../data/HI-Small_Trans.csv')
df_small.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.57,US Dollar,14675.57,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.97,US Dollar,2806.97,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.97,US Dollar,36682.97,US Dollar,Reinvestment,0

In [3]:
df_medium= pd.read_csv(r'../data/LI-Medium_Trans.csv')
df_medium.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:15,20,800104D70,20,800104D70,8095.07,US Dollar,8095.07,US Dollar,Reinvestment,0
1,2022/09/01 00:18,3196,800107150,3196,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0
2,2022/09/01 00:23,1208,80010E430,1208,80010E430,2654.22,US Dollar,2654.22,US Dollar,Reinvestment,0
3,2022/09/01 00:19,3203,80010EA80,3203,80010EA80,13284.41,US Dollar,13284.41,US Dollar,Reinvestment,0
4,2022/09/01 00:27,20,800104D20,20,800104D20,9.72,US Dollar,9.72,US Dollar,Reinvestment,0

In [4]:
df_hi_medium= pd.read_csv(r'../data/HI-Medium_Trans.csv')
df_hi_medium.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:17,20,800104D70,20,800104D70,6794.63,US Dollar,6794.63,US Dollar,Reinvestment,0
1,2022/09/01 00:02,3196,800107150,3196,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0
2,2022/09/01 00:17,1208,80010E430,1208,80010E430,1880.23,US Dollar,1880.23,US Dollar,Reinvestment,0
3,2022/09/01 00:03,1208,80010E650,20,80010E6F0,73966883.00,US Dollar,73966883.00,US Dollar,Cheque,0
4,2022/09/01 00:02,1208,80010E650,20,80010EA30,45868454.00,US Dollar,45868454.00,US Dollar,Cheque,0

In [5]:
df_medium.columns

Index(['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1',
       'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering'],
      dtype='object')

In [5]:
df_medium.rename(columns={'Account.1': 'Account_1'}, inplace=True)
df_hi_medium.rename(columns={'Account.1': 'Account_1'}, inplace=True)
df_small.rename(columns={'Account.1': 'Account_1'}, inplace=True)

In [10]:
client.insert('card_data.hi_small', df_small)

In [6]:
df_combined_medium= pd.concat([df_medium, df_hi_medium], ignore_index=True)

print(df_combined_medium)

                 Timestamp  From Bank    Account  To Bank  Account_1  \
0         2022/09/01 00:15         20  800104D70       20  800104D70
1         2022/09/01 00:18       3196  800107150     3196  800107150
2         2022/09/01 00:23       1208  80010E430     1208  80010E430
3         2022/09/01 00:19       3203  80010EA80     3203  80010EA80
4         2022/09/01 00:27         20  800104D20       20  800104D20
...                    ...        ...        ...      ...        ...
63149716  2022/09/16 23:37     215117  84F680E11   223744  8521DCB81
63149717  2022/09/16 23:59    1209449  84E4F43D1      123  8521E3901
63149718  2022/09/16 23:47     214637  8521E8FF1      114  8521E8941
63149719  2022/09/16 23:38        114  8521E9E41      114  8521E8941
63149720  2022/09/16 23:34     220769  8519C3511      114  8521E8941

          Amount Received Receiving Currency   Amount Paid Payment Currency  \
0             8095.070000          US Dollar   8095.070000        US Dollar
1             7739.290000          US Dollar   7739.290000        US Dollar
2             2654.220000          US Dollar   2654.220000        US Dollar
3            13284.410000          US Dollar  13284.410000        US Dollar
4                9.720000          US Dollar      9.720000        US Dollar
...                   ...                ...           ...              ...
63149716         0.056759            Bitcoin      0.056759          Bitcoin
63149717         0.012293            Bitcoin      0.012293          Bitcoin
63149718         0.089594            Bitcoin      0.089594          Bitcoin
63149719         0.395639            Bitcoin      0.395639          Bitcoin
63149720         0.100721            Bitcoin      0.100721          Bitcoin

         Payment Format  Is Laundering
0          Reinvestment              0
1          Reinvestment              0
2          Reinvestment              0
3          Reinvestment              0
4          Reinvestment              0
...                 ...            ...
63149716        Bitcoin              0
63149717        Bitcoin              0
63149718        Bitcoin              0
63149719        Bitcoin              0
63149720        Bitcoin              0

[63149721 rows x 11 columns]

In [7]:
client.insert('card_data.medium', df_combined_medium)

In [2]:
def parse_patterns_file(file_path):
    with open(file_path, 'r') as f:
        lines = f.readlines()
    
    data = []
    anomaly_type = None
    
    for line in lines:
        line = line.strip()
        if line.startswith("BEGIN LAUNDERING ATTEMPT"):
            anomaly_type = line.split("-")[-1].strip()
        elif line.startswith("END LAUNDERING ATTEMPT"):
            anomaly_type = None
        elif anomaly_type and ',' in line:
            row = line.split(',')
            row.append(anomaly_type)
            data.append(row)
    
    columns = [
        "Timestamp", "From Bank", "Account", "To Bank", "Account_1",
        "Amount Received", "Receiving Currency", "Amount Paid",
        "Payment Currency", "Payment Format", "Is Laundering", "Anomaly Type"
    ]
    patterns_large = pd.DataFrame(data, columns=columns)
    
    patterns_large["From Bank"] = patterns_large["From Bank"].astype(int)
    patterns_large["To Bank"] = pd.to_numeric(patterns_large["To Bank"], errors="coerce")
    patterns_large["Amount Received"] = pd.to_numeric(patterns_large["Amount Received"], errors="coerce")
    patterns_large["Amount Paid"] = pd.to_numeric(patterns_large["Amount Paid"], errors="coerce")
    patterns_large["Is Laundering"] = pd.to_numeric(patterns_large["Is Laundering"], errors="coerce")
    
    return patterns_large

file_path = '../data/HI-Large_Patterns.txt'
patterns_large = parse_patterns_file(file_path)

print(patterns_large.head())

          Timestamp  From Bank    Account  To Bank  Account_1  \
0  2022/08/09 05:14        952  8139F54E0   111632  8062C56E0
1  2022/08/13 13:09     111632  8062C56E0     8456  81363F620
2  2022/08/15 07:40     118693  823D5EB90    13729  801CF2E60
3  2022/08/15 14:19      13729  801CF2E60   123621  81A7090F0
4  2022/08/13 12:40      24750  81363F410   213834  808757B00

   Amount Received Receiving Currency  Amount Paid Payment Currency  \
0          5331.44          US Dollar      5331.44        US Dollar
1          5602.59          US Dollar      5602.59        US Dollar
2          1400.54          US Dollar      1400.54        US Dollar
3          1467.94          US Dollar      1467.94        US Dollar
4         16898.29          US Dollar     16898.29        US Dollar

  Payment Format  Is Laundering Anomaly Type
0            ACH              1        STACK
1            ACH              1        STACK
2            ACH              1        STACK
3            ACH              1        STACK
4            ACH              1        STACK

In [ ]:
df.head()

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK

In [3]:
client.insert('card_data.large_patterns', patterns_large)

In [4]:
patterns_large

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
...,...,...,...,...,...,...,...,...,...,...,...,...
137931,2022/11/08 09:12,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out
137932,2022/11/20 18:34,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out
137933,2022/11/25 11:27,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out
137934,2022/11/28 09:15,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out
137935,2022/12/10 15:28,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [14]:
#patterns_large.info()
anomaly_type = patterns_large['Anomaly Type'].unique()
anomaly_type

array(['STACK', 'CYCLE:  Max 12 hops', 'In', 'CYCLE:  Max 5 hops',
       'BIPARTITE', 'CYCLE:  Max 8 hops', 'Out', 'GATHER',
       'CYCLE:  Max 9 hops', 'RANDOM:  Max 3 hops', 'CYCLE:  Max 2 hops',
       'RANDOM:  Max 10 hops', 'RANDOM:  Max 1 hops',
       'RANDOM:  Max 5 hops', 'RANDOM:  Max 11 hops',
       'CYCLE:  Max 11 hops', 'RANDOM:  Max 7 hops', 'CYCLE:  Max 4 hops',
       'RANDOM:  Max 6 hops', 'CYCLE:  Max 6 hops', 'RANDOM:  Max 2 hops',
       'CYCLE:  Max 10 hops', 'RANDOM:  Max 4 hops',
       'CYCLE:  Max 13 hops', 'CYCLE:  Max 3 hops', 'RANDOM:  Max 9 hops',
       'RANDOM:  Max 12 hops', 'RANDOM:  Max 8 hops',
       'CYCLE:  Max 7 hops'], dtype=object)

In [15]:
patterns_large['Anomaly Type']

0         STACK
1         STACK
2         STACK
3         STACK
4         STACK
          ...
137931      Out
137932      Out
137933      Out
137934      Out
137935      Out
Name: Anomaly Type, Length: 137936, dtype: object

In [5]:
anomaly_counts = patterns_large['Anomaly Type'].value_counts()

unique_anomalies = patterns_large['Anomaly Type'].nunique()

print("Number of unique anomaly types:", unique_anomalies)
print("Frequency of each anomaly type:  -------------------> ")
print(anomaly_counts)

Number of unique anomaly types: 29
Frequency of each anomaly type:  ------------------->
Anomaly Type
In                      39648
GATHER                  26978
STACK                   23624
Out                     13554
BIPARTITE               12174
CYCLE:  Max 13 hops      1638
CYCLE:  Max 12 hops      1464
RANDOM:  Max 11 hops     1320
CYCLE:  Max 11 hops      1287
RANDOM:  Max 12 hops     1272
CYCLE:  Max 2 hops       1192
CYCLE:  Max 10 hops      1150
RANDOM:  Max 9 hops      1017
RANDOM:  Max 10 hops     1010
CYCLE:  Max 9 hops       1008
CYCLE:  Max 8 hops        904
CYCLE:  Max 7 hops        868
RANDOM:  Max 8 hops       832
CYCLE:  Max 6 hops        816
RANDOM:  Max 7 hops       805
RANDOM:  Max 6 hops       762
CYCLE:  Max 5 hops        705
CYCLE:  Max 3 hops        672
CYCLE:  Max 4 hops        636
RANDOM:  Max 1 hops       605
RANDOM:  Max 5 hops       585
RANDOM:  Max 4 hops       576
RANDOM:  Max 2 hops       426
RANDOM:  Max 3 hops       408
Name: count, dtype: int64