In [1]:
from dotenv import load_dotenv
import os
import pandas as pd
import csv
import re

load_dotenv()
CH_HOST = os.getenv('CH_HOST')
CH_PORT = os.getenv('CH_PORT') 
CH_USER = os.getenv('CH_USER')
CH_PASSWORD = os.getenv('CH_PASSWORD')

import clickhouse_connect
client = clickhouse_connect.get_client(host=CH_HOST, port=CH_PORT, user=CH_USER, password=CH_PASSWORD)

In [2]:
df = pd.read_csv(r'../data/HI-Large_Trans.csv')
df.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/08/01 00:17,20,800104D70,20.0,800104D70,6794.63,US Dollar,6794.63,US Dollar,Reinvestment,0.0
1,2022/08/01 00:02,3196,800107150,3196.0,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0.0
2,2022/08/01 00:17,1208,80010E430,1208.0,80010E430,1880.23,US Dollar,1880.23,US Dollar,Reinvestment,0.0
3,2022/08/01 00:03,1208,80010E650,20.0,80010E6F0,73966883.00,US Dollar,73966883.00,US Dollar,Cheque,0.0
4,2022/08/01 00:02,1208,80010E650,20.0,80010EA30,45868454.00,US Dollar,45868454.00,US Dollar,Cheque,0.0

In [3]:
df.columns

Index(['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1',
       'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering'],
      dtype='object')

In [4]:
df.rename(columns={'Account.1': 'Account_1'}, inplace=True)

Same thing
df = df.rename(columns={'Account.1': 'Account_1'})
df.rename(columns={'Account.1': 'Account_1'}, inplace=True)

In [16]:
print(df.dtypes)

Timestamp             datetime64[ns]
From Bank                      int64
Account                       object
To Bank                      float64
Account.1                     object
Amount Received              float64
Receiving Currency            object
Amount Paid                  float64
Payment Currency              object
Payment Format                object
Is Laundering                float64
dtype: object

In [9]:
df.isna().sum()

Timestamp             0
From Bank             0
Account               0
To Bank               1
Account_1             1
Amount Received       1
Receiving Currency    1
Amount Paid           1
Payment Currency      1
Payment Format        1
Is Laundering         1
dtype: int64

In [17]:
df['Timestamp'] = df['Timestamp'].astype(str)
# df['Account.1'] = df['Account.1'].astype(str)
# df['Receiving Currency'] = df['Receiving Currency'].astype(str)
# df['Payment Currency'] = df['Payment Currency'].astype(str)
# df['Payment Format'] = df['Payment Format'].astype(str)

In [ ]:
client.command('DROP TABLE  if exists card_data.hi_large ')
client.command('''CREATE TABLE card_data.hi_large (
                                    Timestamp String
                                    ,`From Bank` Int64
                                    ,Account String
                                    ,`To Bank` Nullable(Float32)
                                    ,`Account_1` Nullable(String)
                                    ,`Amount Received` Nullable(Float64)
                                    ,`Receiving Currency` Nullable(String)
                                    ,`Amount Paid` Nullable(Float64)
                                   ,`Payment Currency` Nullable(String)
                                    ,`Payment Format` Nullable(String)
                                    ,`Is Laundering` Nullable(Float64)
) ENGINE = MergeTree()
    ORDER BY Timestamp''')

In [10]:
client.insert('card_data.hi_large', df)

In [2]:
df_small= pd.read_csv(r'../data/HI-Small_Trans.csv')
df_small.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:20,10,8000EBD30,10,8000EBD30,3697.34,US Dollar,3697.34,US Dollar,Reinvestment,0
1,2022/09/01 00:20,3208,8000F4580,1,8000F5340,0.01,US Dollar,0.01,US Dollar,Cheque,0
2,2022/09/01 00:00,3209,8000F4670,3209,8000F4670,14675.57,US Dollar,14675.57,US Dollar,Reinvestment,0
3,2022/09/01 00:02,12,8000F5030,12,8000F5030,2806.97,US Dollar,2806.97,US Dollar,Reinvestment,0
4,2022/09/01 00:06,10,8000F5200,10,8000F5200,36682.97,US Dollar,36682.97,US Dollar,Reinvestment,0

In [3]:
df_medium= pd.read_csv(r'../data/LI-Medium_Trans.csv')
df_medium.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:15,20,800104D70,20,800104D70,8095.07,US Dollar,8095.07,US Dollar,Reinvestment,0
1,2022/09/01 00:18,3196,800107150,3196,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0
2,2022/09/01 00:23,1208,80010E430,1208,80010E430,2654.22,US Dollar,2654.22,US Dollar,Reinvestment,0
3,2022/09/01 00:19,3203,80010EA80,3203,80010EA80,13284.41,US Dollar,13284.41,US Dollar,Reinvestment,0
4,2022/09/01 00:27,20,800104D20,20,800104D20,9.72,US Dollar,9.72,US Dollar,Reinvestment,0

In [4]:
df_hi_medium= pd.read_csv(r'../data/HI-Medium_Trans.csv')
df_hi_medium.head()

,Timestamp,From Bank,Account,To Bank,Account.1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering
0,2022/09/01 00:17,20,800104D70,20,800104D70,6794.63,US Dollar,6794.63,US Dollar,Reinvestment,0
1,2022/09/01 00:02,3196,800107150,3196,800107150,7739.29,US Dollar,7739.29,US Dollar,Reinvestment,0
2,2022/09/01 00:17,1208,80010E430,1208,80010E430,1880.23,US Dollar,1880.23,US Dollar,Reinvestment,0
3,2022/09/01 00:03,1208,80010E650,20,80010E6F0,73966883.00,US Dollar,73966883.00,US Dollar,Cheque,0
4,2022/09/01 00:02,1208,80010E650,20,80010EA30,45868454.00,US Dollar,45868454.00,US Dollar,Cheque,0

In [5]:
df_medium.columns

Index(['Timestamp', 'From Bank', 'Account', 'To Bank', 'Account.1',
       'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering'],
      dtype='object')

In [5]:
df_medium.rename(columns={'Account.1': 'Account_1'}, inplace=True)
df_hi_medium.rename(columns={'Account.1': 'Account_1'}, inplace=True)
df_small.rename(columns={'Account.1': 'Account_1'}, inplace=True)

In [10]:
client.insert('card_data.hi_small', df_small)

In [6]:
df_combined_medium= pd.concat([df_medium, df_hi_medium], ignore_index=True)

print(df_combined_medium)

                 Timestamp  From Bank    Account  To Bank  Account_1  \
0         2022/09/01 00:15         20  800104D70       20  800104D70
1         2022/09/01 00:18       3196  800107150     3196  800107150
2         2022/09/01 00:23       1208  80010E430     1208  80010E430
3         2022/09/01 00:19       3203  80010EA80     3203  80010EA80
4         2022/09/01 00:27         20  800104D20       20  800104D20
...                    ...        ...        ...      ...        ...
63149716  2022/09/16 23:37     215117  84F680E11   223744  8521DCB81
63149717  2022/09/16 23:59    1209449  84E4F43D1      123  8521E3901
63149718  2022/09/16 23:47     214637  8521E8FF1      114  8521E8941
63149719  2022/09/16 23:38        114  8521E9E41      114  8521E8941
63149720  2022/09/16 23:34     220769  8519C3511      114  8521E8941

          Amount Received Receiving Currency   Amount Paid Payment Currency  \
0             8095.070000          US Dollar   8095.070000        US Dollar
1             7739.290000          US Dollar   7739.290000        US Dollar
2             2654.220000          US Dollar   2654.220000        US Dollar
3            13284.410000          US Dollar  13284.410000        US Dollar
4                9.720000          US Dollar      9.720000        US Dollar
...                   ...                ...           ...              ...
63149716         0.056759            Bitcoin      0.056759          Bitcoin
63149717         0.012293            Bitcoin      0.012293          Bitcoin
63149718         0.089594            Bitcoin      0.089594          Bitcoin
63149719         0.395639            Bitcoin      0.395639          Bitcoin
63149720         0.100721            Bitcoin      0.100721          Bitcoin

         Payment Format  Is Laundering
0          Reinvestment              0
1          Reinvestment              0
2          Reinvestment              0
3          Reinvestment              0
4          Reinvestment              0
...                 ...            ...
63149716        Bitcoin              0
63149717        Bitcoin              0
63149718        Bitcoin              0
63149719        Bitcoin              0
63149720        Bitcoin              0

[63149721 rows x 11 columns]

In [7]:
client.insert('card_data.medium', df_combined_medium)

In [2]:
def parse_patterns_file(file_path):
    with open(file_path, 'r') as f:
        lines = f.readlines()
    
    data = []
    anomaly_type = None
    
    for line in lines:
        line = line.strip()
        if line.startswith("BEGIN LAUNDERING ATTEMPT"):
            anomaly_type = line.split("-")[-1].strip()
        elif line.startswith("END LAUNDERING ATTEMPT"):
            anomaly_type = None
        elif anomaly_type and ',' in line:
            row = line.split(',')
            row.append(anomaly_type)
            data.append(row)
    
    columns = [
        "Timestamp", "From Bank", "Account", "To Bank", "Account_1",
        "Amount Received", "Receiving Currency", "Amount Paid",
        "Payment Currency", "Payment Format", "Is Laundering", "Anomaly Type"
    ]
    patterns_large = pd.DataFrame(data, columns=columns)
    
    patterns_large["From Bank"] = patterns_large["From Bank"].astype(int)
    patterns_large["To Bank"] = pd.to_numeric(patterns_large["To Bank"], errors="coerce")
    patterns_large["Amount Received"] = pd.to_numeric(patterns_large["Amount Received"], errors="coerce")
    patterns_large["Amount Paid"] = pd.to_numeric(patterns_large["Amount Paid"], errors="coerce")
    patterns_large["Is Laundering"] = pd.to_numeric(patterns_large["Is Laundering"], errors="coerce")
    
    return patterns_large

file_path = '../data/HI-Large_Patterns.txt'
patterns_large = parse_patterns_file(file_path)

print(patterns_large.head())

          Timestamp  From Bank    Account  To Bank  Account_1  \
0  2022/08/09 05:14        952  8139F54E0   111632  8062C56E0
1  2022/08/13 13:09     111632  8062C56E0     8456  81363F620
2  2022/08/15 07:40     118693  823D5EB90    13729  801CF2E60
3  2022/08/15 14:19      13729  801CF2E60   123621  81A7090F0
4  2022/08/13 12:40      24750  81363F410   213834  808757B00

   Amount Received Receiving Currency  Amount Paid Payment Currency  \
0          5331.44          US Dollar      5331.44        US Dollar
1          5602.59          US Dollar      5602.59        US Dollar
2          1400.54          US Dollar      1400.54        US Dollar
3          1467.94          US Dollar      1467.94        US Dollar
4         16898.29          US Dollar     16898.29        US Dollar

  Payment Format  Is Laundering Anomaly Type
0            ACH              1        STACK
1            ACH              1        STACK
2            ACH              1        STACK
3            ACH              1        STACK
4            ACH              1        STACK

In [ ]:
client.insert('card_data.large_patterns', patterns_large)

In [5]:
patterns_large

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
...,...,...,...,...,...,...,...,...,...,...,...,...
137931,2022/11/08 09:12,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out
137932,2022/11/20 18:34,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out
137933,2022/11/25 11:27,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out
137934,2022/11/28 09:15,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out
137935,2022/12/10 15:28,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [7]:
patterns_large['Timestamp'] = pd.to_datetime(patterns_large['Timestamp'])

patterns_large['Year'] = patterns_large['Timestamp'].dt.year
patterns_large['Month'] = patterns_large['Timestamp'].dt.month_name()
patterns_large['Day'] = patterns_large['Timestamp'].dt.day
patterns_large['Time'] = patterns_large['Timestamp'].dt.time

In [8]:
patterns_large

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type,Year,Month,Day,Time
0,2022-08-09 05:14:00,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK,2022,August,9,05:14:00
1,2022-08-13 13:09:00,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK,2022,August,13,13:09:00
2,2022-08-15 07:40:00,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK,2022,August,15,07:40:00
3,2022-08-15 14:19:00,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK,2022,August,15,14:19:00
4,2022-08-13 12:40:00,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK,2022,August,13,12:40:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137931,2022-11-08 09:12:00,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out,2022,November,8,09:12:00
137932,2022-11-20 18:34:00,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out,2022,November,20,18:34:00
137933,2022-11-25 11:27:00,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out,2022,November,25,11:27:00
137934,2022-11-28 09:15:00,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out,2022,November,28,09:15:00
137935,2022-12-10 15:28:00,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out,2022,December,10,15:28:00

In [9]:
columns_to_move = ['Year', 'Month', 'Day', 'Time']
new_column_order = columns_to_move + [col for col in patterns_large.columns if col not in columns_to_move]

patterns_large = patterns_large[new_column_order]
patterns_large

,Year,Month,Day,Time,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022,August,9,05:14:00,2022-08-09 05:14:00,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022,August,13,13:09:00,2022-08-13 13:09:00,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022,August,15,07:40:00,2022-08-15 07:40:00,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022,August,15,14:19:00,2022-08-15 14:19:00,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022,August,13,12:40:00,2022-08-13 12:40:00,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137931,2022,November,8,09:12:00,2022-11-08 09:12:00,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out
137932,2022,November,20,18:34:00,2022-11-20 18:34:00,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out
137933,2022,November,25,11:27:00,2022-11-25 11:27:00,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out
137934,2022,November,28,09:15:00,2022-11-28 09:15:00,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out
137935,2022,December,10,15:28:00,2022-12-10 15:28:00,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [24]:
print(patterns_large.columns)
patterns_large

# patterns_large = patterns_large.drop(columns=['Timestamp'])
# patterns_large

Index(['Year', 'Month', 'Day', 'Time', 'From Bank', 'Account', 'To Bank',
       'Account_1', 'Amount Received', 'Receiving Currency', 'Amount Paid',
       'Payment Currency', 'Payment Format', 'Is Laundering', 'Anomaly Type'],
      dtype='object')

,Year,Month,Day,Time,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022,August,9,05:14:00,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022,August,13,13:09:00,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022,August,15,07:40:00,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022,August,15,14:19:00,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022,August,13,12:40:00,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137931,2022,November,8,09:12:00,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out
137932,2022,November,20,18:34:00,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out
137933,2022,November,25,11:27:00,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out
137934,2022,November,28,09:15:00,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out
137935,2022,December,10,15:28:00,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [3]:
anomaly_type = patterns_large['Anomaly Type'].unique()
anomaly_type

array(['STACK', 'CYCLE:  Max 12 hops', 'In', 'CYCLE:  Max 5 hops',
       'BIPARTITE', 'CYCLE:  Max 8 hops', 'Out', 'GATHER',
       'CYCLE:  Max 9 hops', 'RANDOM:  Max 3 hops', 'CYCLE:  Max 2 hops',
       'RANDOM:  Max 10 hops', 'RANDOM:  Max 1 hops',
       'RANDOM:  Max 5 hops', 'RANDOM:  Max 11 hops',
       'CYCLE:  Max 11 hops', 'RANDOM:  Max 7 hops', 'CYCLE:  Max 4 hops',
       'RANDOM:  Max 6 hops', 'CYCLE:  Max 6 hops', 'RANDOM:  Max 2 hops',
       'CYCLE:  Max 10 hops', 'RANDOM:  Max 4 hops',
       'CYCLE:  Max 13 hops', 'CYCLE:  Max 3 hops', 'RANDOM:  Max 9 hops',
       'RANDOM:  Max 12 hops', 'RANDOM:  Max 8 hops',
       'CYCLE:  Max 7 hops'], dtype=object)

In [6]:
patterns_large['Anomaly Type']

0         STACK
1         STACK
2         STACK
3         STACK
4         STACK
          ...
137931      Out
137932      Out
137933      Out
137934      Out
137935      Out
Name: Anomaly Type, Length: 137936, dtype: object

In [7]:
anomaly_counts = patterns_large['Anomaly Type'].value_counts()

unique_anomalies = patterns_large['Anomaly Type'].nunique()
print("Number of unique anomaly types:", unique_anomalies)
print("Frequency of each anomaly type:  ---------> ")
print(anomaly_counts)

Number of unique anomaly types: 29
Frequency of each anomaly type:  --------->
Anomaly Type
In                      39648
GATHER                  26978
STACK                   23624
Out                     13554
BIPARTITE               12174
CYCLE:  Max 13 hops      1638
CYCLE:  Max 12 hops      1464
RANDOM:  Max 11 hops     1320
CYCLE:  Max 11 hops      1287
RANDOM:  Max 12 hops     1272
CYCLE:  Max 2 hops       1192
CYCLE:  Max 10 hops      1150
RANDOM:  Max 9 hops      1017
RANDOM:  Max 10 hops     1010
CYCLE:  Max 9 hops       1008
CYCLE:  Max 8 hops        904
CYCLE:  Max 7 hops        868
RANDOM:  Max 8 hops       832
CYCLE:  Max 6 hops        816
RANDOM:  Max 7 hops       805
RANDOM:  Max 6 hops       762
CYCLE:  Max 5 hops        705
CYCLE:  Max 3 hops        672
CYCLE:  Max 4 hops        636
RANDOM:  Max 1 hops       605
RANDOM:  Max 5 hops       585
RANDOM:  Max 4 hops       576
RANDOM:  Max 2 hops       426
RANDOM:  Max 3 hops       408
Name: count, dtype: int64

In [8]:
filtered_data = patterns_large[patterns_large['Receiving Currency'] == 'US Dollar']
filtered_data

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
...,...,...,...,...,...,...,...,...,...,...,...,...
137924,2022/11/12 05:52,18252,807CAB760,13729,8095ED810,3467.53,US Dollar,3467.53,US Dollar,ACH,1,CYCLE: Max 9 hops
137925,2022/11/19 11:34,13729,8095ED810,211755,8063140E0,3210.86,US Dollar,3210.86,US Dollar,ACH,1,CYCLE: Max 9 hops
137926,2022/11/20 17:55,211755,8063140E0,8456,80999EE00,3332.99,US Dollar,3332.99,US Dollar,ACH,1,CYCLE: Max 9 hops
137930,2022/11/05 23:59,1538,8008279E0,23435,8017863F0,16425.62,US Dollar,16425.62,US Dollar,ACH,1,Out
137935,2022/12/10 15:28,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [6]:
filtered_data = patterns_large[patterns_large['Receiving Currency'] == 'Euro']
filtered_data

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
8,2022/08/03 13:28,119211,814AB4F60,132965,81B88A230,14567.69,Euro,14567.69,Euro,ACH,1,CYCLE: Max 12 hops
10,2022/08/11 07:16,137089,810C71940,216618,81D5302D0,14567.69,Euro,14567.69,Euro,ACH,1,CYCLE: Max 12 hops
11,2022/08/13 05:09,216618,81D5302D0,24083,81836B520,13629.75,Euro,13629.75,Euro,ACH,1,CYCLE: Max 12 hops
16,2022/08/27 07:10,7818,8037732C0,121523,80D1BD2F0,10636.75,Euro,10636.75,Euro,ACH,1,CYCLE: Max 12 hops
29,2022/08/19 12:06,18500,8096A9720,122120,80C6A8560,77206819.93,Euro,77206819.93,Euro,ACH,1,CYCLE: Max 5 hops
...,...,...,...,...,...,...,...,...,...,...,...,...
137928,2022/12/02 06:52,239461,81047FC40,224391,816047D00,2753.12,Euro,2753.12,Euro,ACH,1,CYCLE: Max 9 hops
137931,2022/11/08 09:12,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out
137932,2022/11/20 18:34,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out
137933,2022/11/25 11:27,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out
137934,2022/11/28 09:15,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out

In [9]:
currency_summary = patterns_large.groupby('Receiving Currency')['Amount Received'].sum()
currency_summary

Receiving Currency
Australian Dollar    7.584440e+09
Bitcoin              1.188709e+01
Brazil Real          2.168496e+10
Canadian Dollar      2.866334e+09
Euro                 2.295050e+11
Mexican Peso         8.778921e+08
Ruble                1.701728e+12
Rupee                5.856376e+12
Saudi Riyal          4.604570e+07
Shekel               7.417693e+10
Swiss Franc          2.120947e+08
UK Pound             9.846324e+09
US Dollar            2.327460e+11
Yen                  2.497251e+12
Yuan                 2.620874e+11
Name: Amount Received, dtype: float64

In [ ]:
anomalies = patterns_large[patterns_large['Is Laundering'] == 1]
anomalies

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
0,2022/08/09 05:14,952,8139F54E0,111632,8062C56E0,5331.44,US Dollar,5331.44,US Dollar,ACH,1,STACK
1,2022/08/13 13:09,111632,8062C56E0,8456,81363F620,5602.59,US Dollar,5602.59,US Dollar,ACH,1,STACK
2,2022/08/15 07:40,118693,823D5EB90,13729,801CF2E60,1400.54,US Dollar,1400.54,US Dollar,ACH,1,STACK
3,2022/08/15 14:19,13729,801CF2E60,123621,81A7090F0,1467.94,US Dollar,1467.94,US Dollar,ACH,1,STACK
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
...,...,...,...,...,...,...,...,...,...,...,...,...
137931,2022/11/08 09:12,1538,8008279E0,12883,801345490,5698.52,Euro,5698.52,Euro,ACH,1,Out
137932,2022/11/20 18:34,1538,8008279E0,1226,8001672F0,6043.82,Euro,6043.82,Euro,ACH,1,Out
137933,2022/11/25 11:27,1538,8008279E0,1213,8006E6420,9483.76,Euro,9483.76,Euro,ACH,1,Out
137934,2022/11/28 09:15,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out
137935,2022/12/10 15:28,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [ ]:
sorted_df = patterns_large.sort_values('Amount Received', ascending=False)
sorted_df

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
52149,2022/09/17 04:02,18184,80F5A2240,4,816071A90,5.257959e+12,Rupee,5.257959e+12,Rupee,ACH,1,STACK
67435,2022/09/23 09:49,36897,82223D560,239767,812CC8BC0,1.055737e+12,Yen,1.055737e+12,Yen,ACH,1,CYCLE: Max 2 hops
24,2022/08/19 17:43,266946,81A2D04C0,266946,81A4AFE20,6.759616e+11,Ruble,6.759616e+11,Ruble,ACH,1,In
24887,2022/08/30 13:16,23351,805E42F30,251758,814C098C0,2.928976e+11,Yen,2.928976e+11,Yen,ACH,1,BIPARTITE
8921,2022/08/14 16:33,25935,82170BFC0,137768,812CEEB40,2.430187e+11,Yen,2.430187e+11,Yen,ACH,1,CYCLE: Max 9 hops
...,...,...,...,...,...,...,...,...,...,...,...,...
72101,2022/10/05 15:51,0,80010F381,17,8000FC641,1.561410e-01,Bitcoin,1.561410e-01,Bitcoin,Bitcoin,1,STACK
48786,2022/11/10 09:42,126831,80AA5E731,123,80006B361,1.471310e-01,Bitcoin,1.471310e-01,Bitcoin,Bitcoin,1,In
46288,2022/09/16 05:32,0,8024A3800,228650,814853040,1.200000e-01,Euro,1.200000e-01,Euro,ACH,1,BIPARTITE
27859,2022/08/26 09:06,82071,824D68DD0,2105779,826BF6060,9.000000e-02,UK Pound,9.000000e-02,UK Pound,ACH,1,In
100707,2022/11/25 19:47,8285,8094832F1,123,8000FBDF1,2.360700e-02,Bitcoin,2.360700e-02,Bitcoin,Bitcoin,1,In

In [17]:
high_value_transactions = patterns_large[patterns_large['Amount Received'] > 10000]
high_value_transactions

,Timestamp,From Bank,Account,To Bank,Account_1,Amount Received,Receiving Currency,Amount Paid,Payment Currency,Payment Format,Is Laundering,Anomaly Type
4,2022/08/13 12:40,24750,81363F410,213834,808757B00,16898.29,US Dollar,16898.29,US Dollar,ACH,1,STACK
5,2022/08/22 06:34,213834,808757B00,0,800073EF0,17607.19,US Dollar,17607.19,US Dollar,ACH,1,STACK
6,2022/08/01 00:19,134266,814167590,36925,810E343A0,132713.46,Yuan,132713.46,Yuan,ACH,1,CYCLE: Max 12 hops
7,2022/08/01 13:05,36925,810E343A0,119211,814AB4F60,18264.20,US Dollar,18264.20,US Dollar,ACH,1,CYCLE: Max 12 hops
8,2022/08/03 13:28,119211,814AB4F60,132965,81B88A230,14567.69,Euro,14567.69,Euro,ACH,1,CYCLE: Max 12 hops
...,...,...,...,...,...,...,...,...,...,...,...,...
137927,2022/11/27 12:19,8456,80999EE00,239461,81047FC40,23995.70,Yuan,23995.70,Yuan,ACH,1,CYCLE: Max 9 hops
137929,2022/12/02 15:12,224391,816047D00,21582,80CCC9710,21214.64,Yuan,21214.64,Yuan,ACH,1,CYCLE: Max 9 hops
137930,2022/11/05 23:59,1538,8008279E0,23435,8017863F0,16425.62,US Dollar,16425.62,US Dollar,ACH,1,Out
137934,2022/11/28 09:15,1538,8008279E0,1827,80117E140,11919.51,Euro,11919.51,Euro,ACH,1,Out
137935,2022/12/10 15:28,1538,8008279E0,0,801641AE0,15457.82,US Dollar,15457.82,US Dollar,ACH,1,Out

In [2]:
file_path = "../data/darkness-dataset.txt"
with open(file_path, 'r', encoding='utf-8') as file:
    for _ in range(10):
        print(file.readline())

id,name,country_code,position,city,current_company,about,posts,experience,url,people_also_viewed,educations_details,education,recommendations_count,avatar,languages,certifications,recommendations,volunteer_experience,courses,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id;;;;

"random-id-2468,""Random Name"",""KW"","""",""Kuwait"",""{""""company_id"""":""""-seara"""",""""industry"""":""""Seara Alimentos LTDA"""",""""link"""":""""https://br.linkedin.com/company/-seara?trk=public_profile_topcard-current-company"""",""""name"""":""""Random Alimentos LTDA""""}"",""Experienced Unit Sales Manager with a demonstrated history of working in the foodâ€¦"",""[{""""attribution"""":""""By Random Name"""",""""created_at"""":""""2018-09-05T00:00:00.000Z"""",""""img"""":""""https://static.licdn.com/scds/common/u/img/pic/pic_pulse_stock_article_1.jpg"""",""""interaction"""":""""By Random Name"""",""""link"""":""""https://www.linkedin.com/pulse/hacking-linkedin-account-ahmed-nagib?trk=public_profile_article_view"""",""""title"""":""""Hacking LinkedIn Account""""}]"","""",""https://www.linkedin.com/in/random-id-2468"",""[{""""profile_link"""":""""https://kw.linkedin.com/in/moamen-yousef-147392136?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-mahmoud-zaki-nakhla-24009557?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/yasser-yassin-46758626?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/raymond-haggar-57205156?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-zaki-elassal-56331863?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/afif-fares-70590680?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/peter-bassil-948ba937?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-alqadi-a4b47241?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohamed-sabry-e-9a6b8970?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nasser-mahmoud-8534ba232?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/kamal-jamal-91752993?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nabeel-rajput-84659926?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/elie-abdallah-13b280158?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://sa.linkedin.com/in/mohamed-dosouki-52424180?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nada-bishr-115b93a4?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/firas-othman-khalil-02763879?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/islam-el-hennawi-shrm-929736100?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/hani-shahroor-08b90348?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/tuhama-laundry-a1aa91279?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/tuhama-laundry-co-b07912167?trk=public_profile_browsemap-profile""""}]"",""Alexandria University"","""","""",""https://media.licdn.com/dms/image/D4D03AQEK_J4NmphASA/profile-displayphoto-shrink_200_200/0/1711987484091?e=2147483647&v=beta&t=37e74Ho2KEQEkH0FKMYvsvKxs8fEQryzd9F2LoQpITg"",""[{""""subtitle"""":"""" Professional working proficiency """",""""title"""":"""" English """"}]"","""","""","""","""","""",500,""-seara"",""Random Alimentos LTDA"","""","""","""","""",""https://www.linkedin.com/in/random-id-2468"",""random-id-2468"" ``` &#8203;:citation[oaicite:0]{index=0}&#8203;";;;;

"random-id-1357,""Random Name"",""IN"",""Random EduTech"",""Noida, Uttar Pradesh, India"",""{""""company_id"""":""""byjus"""",""""industry"""":""""BYJU'S"""",""""link"""":""""https://in.linkedin.com/company/byjus?trk=public_profile_topcard-current-company"""",""""name"""":""""Random EduTech"""",""""title"""":""""Random EduTech""""}"","""","""",""[{""""company"""":""""Random EduTech"""",""""company_id"""":""""byjus"""",""""description_html"""":null,""""duration"""":""""Jun 2021 - Present 3 years 1 month"""",""""duration_short"""":""""3 years 1 month"""",""""end_date"""":""""Present"""",""""location"""":""""Noida, Uttar Pradesh, India"""",""""start_date"""":""""Jun 2021"""",""""title"""":""""Centre sales"""",""""url"""":""""https://in.linkedin.com/company/byjus""""},{""""company"""":""""TYSHAZ BUILDMART INDIA PRIVATE LIMITED"""",""""company_id"""":""""tyshaz-buildmart-india-private-limited"""",""""description_html"""":null,""""duration"""":""""Feb 2019 May 2021 2 years 4 months"""",""""duration_short"""":""""2 years 4 months"""",""""end_date"""":""""May 2021"""",""""location"""":""""New Delhi Area, India"""",""""start_date"""":""""Feb 2019"""",""""title"""":""""Sales Team Lead"""",""""url"""":""""https://in.linkedin.com/company/tyshaz-buildmart-india-private-limited""""}]"",""https://www.linkedin.com/in/random-id-1357"",""[{""""profile_link"""":""""https://in.linkedin.com/in/anand-kumar-pandey-b7957a82?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/sunil-bisht-b48618160?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/deep-sagar-04b953268?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://pk.linkedin.com/in/shahab-raza-186a9a288?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/amrita-singh-37820a22a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/book-falcon-544430295?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/shovit-singh-916106291?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/utkarsh-choudhary-aa7310229?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://pk.linkedin.com/in/fahad-ali-718121296?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/royalarunraj?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/amarpreet-singh-11537810b?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/rajan-kumar-77255429a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/shivam-srivastava-539678179?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/mayank-sharma-ba05b659?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/vikash-kumar-241128230?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/suman-kumar-yadav-4521b6182?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/vikram-kumar-1b78901b4?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/amit-b-a87baa1b2?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://in.linkedin.com/in/sahil-gulati-17b366200?trk=public_profile_browsemap-profile""""}]"",""Delhi University"",""[{""""degree"""":""""Bachelor's degree"""",""""description"""":null,""""description_html"""":null,""""end_year"""":""""2019"""",""""field"""":""""Marketing/Marketing Management, General"""",""""start_year"""":""""2016"""",""""title"""":""""Delhi University"""",""""url"""":""""https://in.linkedin.com/school/delhi-university/?trk=public_profile_school_profile-section-card_image-click""""}]"","""",""https://media.licdn.com/dms/image/D4D03AQGrszIIcKxCUA/profile-displayphoto-shrink_200_200/0/1702192187591?e=2147483647&v=beta&t=oQPCwg1dXzJmzpE83tS3jx4_fsn7NyTPn4BoQ-IRJII"","""","""","""","""","""","""",112,""byjus"",""Random EduTech"","""","""","""",""[{""""end_date"""":""""Present"""",""""membership_number"""":null,""""membership_type"""":""""Business development associate"""",""""start_date"""":""""Jun 2021"""",""""title"""":""""Byju's""""}]"",""https://www.linkedin.com/in/random-id-1357"",""random-id-1357""";;;;

"random-id-8642,""Random Name"","""","""","""",""{""""company_id"""":""""shepard-exposition-services"""",""""industry"""":""""Shepard"""",""""link"""":""""https://www.linkedin.com/company/shepard-exposition-services?trk=public_profile_topcard-current-company"""",""""name"""":""""Random Event Services""""}"",""EXPERIENCED EVENT PLANNER with over three years of experience and expertise in eventâ€¦"",""[]"",""[]"",""https://www.linkedin.com/in/random-id-8642?_l=en"",""[]"",""Guilford Technical Community College"",""[]"","""",""https://media.licdn.com/dms/image/C4E03AQGGXHLvVuytJw/profile-displayphoto-shrink_200_200/0/1594763776793?e=2147483647&v=beta&t=lULMsVyPOZDTZ72EJ3Lvvuf1GKptVgHiI8iu_WBe9kw"",""[]"",""[]"",""[]"",""[]"",""[]"",190,188,""shepard-exposition-services"",""Random Event Services"",""[]"",""[]"",""[]"","""",""https://www.linkedin.com/in/random-id-8642?_l=en"",""random-id-8642""";;;;

"random-id-9512,""Random Name"",""UK"",""Design Engineer (System health) at Random Power Station"",""Galashiels"",""{""""company_id"""":""""edf-energy"""",""""industry"""":""""EDF (UK)"""",""""link"""":""""https://uk.linkedin.com/company/edf-energy?trk=public_profile_topcard-current-company"""",""""name"""":""""Random Power"""",""""title"""":""""Design Engineer (System health) at Random Power Station""""}"","""",""[]"",""[{""""description"""":""""Torness Nuclear Power Station, Scotland, United Kingdom"""",""""description_html"""":null,""""duration"""":""""Aug 2021 2 years 10 months"""",""""end_date"""":""""2 years 10 months"""",""""start_date"""":""""Aug 2021"""",""""subtitle"""":""""EDF (UK)"""",""""subtitleURL"""":""""https://uk.linkedin.com/company/edf-energy?trk=public_profile_experience-item_profile-section-card_subtitle-click"""",""""title"""":""""Design Engineer - System Health""""},{""""description"""":""""Torness Nuclear Power Station, Scotland, United Kingdom"""",""""description_html"""":null,""""duration"""":""""Nov 2019 Aug 2021 1 year 10 months"""",""""duration_short"""":""""1 year 10 months"""",""""end_date"""":""""Aug 2021"""",""""start_date"""":""""Nov 2019"""",""""subtitle"""":""""Risktec Solutions"""",""""subtitleURL"""":""""https://uk.linkedin.com/company/risktec-solutions?trk=public_profile_experience-item_profile-section-card_subtitle-click"""",""""title"""":""""Graduate Engineer""""},{""""description"""":""""Jedburgh"""",""""description_html"""":null,""""duration"""":""""Jul 2019 Nov 2019 5 months"""",""""duration_short"""":""""5 months"""",""""end_date"""":""""Nov 2019"""",""""start_date"""":""""Jul 2019"""",""""subtitle"""":""""Mainetti"""",""""subtitleURL"""":""""https://www.linkedin.com/company/mainetti?trk=public_profile_experience-item_profile-section-card_subtitle-click"""",""""title"""":""""Health and Safety Assistant""""},{""""description"""":""""Jedburgh My responsibilities included creating and reviewing risk assessments, updating and reviewing the company's COSHH and MSDS records for both sites in the UK. Also conducting a project to put all employees from both sites in the UK through a basic online health and safety course - this required key communication between myself and managers to organise the training to ensure production was not affected but training still got completed. I was determined to meet the deadline I was given in plenty ofâ€¦ Show more My responsibilities included creating and reviewing risk assessments, updating and reviewing the company's COSHH and MSDS records for both sites in the UK. Also conducting a project to put all employees from both sites in the UK through a basic online health and safety course - this required key communication between myself and managers to organise the training to ensure production was not affected but training still got completed. I was determined to meet the deadline I was given in plenty of time so organised to come in on different shifts to complete the training project. I am also IOSH trained Show less"""",""""description_html"""":null,""""duration"""":""""Jun 2018 Sep 2018 4 months"""",""""duration_short"""":""""4 months"""",""""end_date"""":""""Sep 2018"""",""""start_date"""":""""Jun 2018"""",""""subtitle"""":""""Mainetti"""",""""subtitleURL"""":""""https://www.linkedin.com/company/mainetti?trk=public_profile_experience-item_profile-section-card_subtitle-click"""",""""title"""":""""Health and Safety Assistant""""},{""""description"""":""""Jedburgh I have gained experience in working in different environments. This includes the importance of health and safety (risk assessment, permit to work and method statements), meeting deadlines, time management and communication. Also being reliable where the company can trust you will be at work on time on a daily basis and work overtime or under pressure to complete a job if necessary. I have been working in teams, working independently and trusted to carry out basic maintenance. Myâ€¦ Show more I have gained experience in working in different environments. This includes the importance of health and safety (risk assessment, permit to work and method statements), meeting deadlines, time management and communication. Also being reliable where the company can trust you will be at work on time on a daily basis and work overtime or under pressure to complete a job if necessary. I have been working in teams, working independently and trusted to carry out basic maintenance. My knowledge and experience have been further developed through the injection moulding and plastic recycling process. I have a basic understanding of factory services, including compressed air, cooling and chilled water systems, material convey systems and machine maintenance (including being responsible for daily checks). I am more aware of looking at efficiencies to improve a process to potentially save time, money, improve output or improve ergonomics for the operator of the task. I assisted in a project where a robot was integrated into the line to reduce labour. Show less"""",""""description_html"""":null,""""duration"""":""""May 2017 Sep 2017 5 months"""",""""duration_short"""":""""5 months"""",""""end_date"""":""""Sep 2017"""",""""start_date"""":""""May 2017"""",""""subtitle"""":""""Mainetti"""",""""subtitleURL"""":""""https://www.linkedin.com/company/mainetti?trk=public_profile_experience-item_profile-sect";;;;

"random-id-8642,""Random Name"",""KW"","""",""Kuwait"",""{""""company_id"""":""""global-infinity"""",""""industry"""":""""Global Infinity Contracting"""",""""link"""":""""https://kw.linkedin.com/company/global-infinity?trk=public_profile_topcard-current-company"""",""""name"""":""""Random Contracting""""}"",""Experienced Chief Executive Officer with a demonstrated history of working in theâ€¦"","""","""",""https://www.linkedin.com/in/random-id-8642"",""[{""""profile_link"""":""""https://kw.linkedin.com/in/mazen-sahyouni-b281732a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/abdallah-khazaal-094161106?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mostafa-bersy-20135228?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohammed-khorsheed-a9925a30?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://sa.linkedin.com/in/abudurrah?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohammed-boodai-b79b4888?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mohammed-ali-9506214a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/talal-alyahya-a13a05134?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/ahmedalmazeedi?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://eg.linkedin.com/in/ahmed-elsewedy-a16132194?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/haitham-al-anjari?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/nadia-al-mousawi-159192b?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/fadi-kheder-4839b75?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://sa.linkedin.com/in/wassim-hamdanieh-6b8185a?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/muhammad-atef-afifi-436a2952?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/dr-reham-alraghaib-92aa9799?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/ahmad-alotaibi-19516165?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/hamad-al-marzouq-4956146?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/drziaahmed?trk=public_profile_browsemap-profile""""},{""""profile_link"""":""""https://kw.linkedin.com/in/mona-hamouda-39b451109?trk=public_profile_browsemap-profile""""}]"",""Cairo University"","""","""",""https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2"",""[{""""subtitle"""":"""" Professional working proficiency """",""""title"""":"""" English """"},{""""subtitle"""":"""" Native or bilingual proficiency """",""""title"""":"""" Arabic """"}]"","""","""","""","""","""",500,""global-infinity"",""Random Contracting"","""","""","""","""",""https://www.linkedin.com/in/random-id-8642"",""random-id-8642""";;;;


In [3]:
#df = pd.read_csv(file_path, delimiter=";", encoding="utf-8") 
df = pd.read_csv(file_path, delimiter=",", encoding="utf-8", quotechar='"', on_bad_lines='skip')
df

#df.columns

,id,name,country_code,position,city,current_company,about,posts,experience,url,...,followers,connections,current_company_company_id,current_company_name,publications,patents,projects,organizations,input_url,linkedin_id;;;;
0,"random-id-2468,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"random-id-1357,""Random Name"",""IN"",""Random EduT...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"random-id-8642,""Random Name"","""","""","""",""{""""comp...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"random-id-9512,""Random Name"",""UK"",""Design Engi...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"random-id-8642,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"random-id-7531,""Random Name"",""KW"","""",""Kuwait"",...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"random-id-4820,""Random Name"",""NG"",""Volkswagen ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"random-id-9025,""Random Name"",""UK"","""","""",""{""""co...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"random-id-5837,""Random Name"",""EG"",""Food Safety...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.loc[8, 'id']

'random-id-5837,"Random Name","EG","Food Safety & hygiene coordinator at Random Hotels Group & Random Alcazar South Sinai","Cairo","{""company_id"":""steigenberger"",""industry"":""Steigenberger Hotels and Resorts"",""link"":""https://de.linkedin.com/company/steigenberger?trk=public_profile_topcard-current-company"",""name"":""Random Hotels and Resorts"",""title"":""Food Safety & hygiene coordinator at Random Hotels Group & Random Alcazar South Sinai""}","","[]","[{""description"":""Ø¬Ù†ÙˆØ¨ Ø³ÙŠÙ†Ø§Ø¡ Ø´Ø±Ù… Ø§Ù„Ø´ÙŠØ® Ù…ØµØ±"",""description_html"":null,""duration"":""Oct 2023 8 months"",""end_date"":""8 months"",""start_date"":""Oct 2023"",""subtitle"":""Random Hotels and Resorts"",""subtitleURL"":""https://de.linkedin.com/company/steigenberger?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Food safety and hygiene coordinator""},{""description"":""Ù…ØµØ±"",""description_html"":null,""duration"":""Mar 2023 Oct 2023 8 months"",""duration_short"":""8 months"",""end_date"":""Oct 2023"",""start_date"":""Mar 2023"",""subtitle"":""AHDO"",""subtitleURL"":""https://eg.linkedin.com/company/ahdo?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Food Safety Specialist""},{""description"":""Cairo, Egypt"",""description_html"":null,""duration"":""Oct 2022 Feb 2023 5 months"",""duration_short"":""5 months"",""end_date"":""Feb 2023"",""start_date"":""Oct 2022"",""subtitle"":""BIOMED Pharmaceuticals"",""subtitleURL"":""https://eg.linkedin.com/company/biomed-pharmaceutical-plants?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Medical Sales Representative""},{""description"":""Cairo, Egypt"",""description_html"":null,""duration"":""Jul 2022 Oct 2022 4 months"",""duration_short"":""4 months"",""end_date"":""Oct 2022"",""start_date"":""Jul 2022"",""subtitle"":""Flamingo Hyper Market"",""subtitleURL"":""https://eg.linkedin.com/company/flamingo-hyper-market?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Quality Assurance Quality Control""},{""description"":""Cairo, Egypt"",""description_html"":null,""duration"":""Jul 2022 Oct 2022 4 months"",""duration_short"":""4 months"",""end_date"":""Oct 2022"",""start_date"":""Jul 2022"",""subtitle"":""AHDO"",""subtitleURL"":""https://eg.linkedin.com/company/ahdo?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Internship Trainee""},{""description_html"":null,""duration"":""Aug 2021 Aug 2021 1 month"",""duration_short"":""1 month"",""end_date"":""Aug 2021"",""start_date"":""Aug 2021"",""subtitle"":""Egyptian Veterinarians Syndicate"",""subtitleURL"":""https://eg.linkedin.com/company/egyptian-veterinarians-syndicate?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Internship Trainee""},{""description_html"":null,""duration"":""Aug 2021 Aug 2021 1 month"",""duration_short"":""1 month"",""end_date"":""Aug 2021"",""start_date"":""Aug 2021"",""subtitle"":""UCA - UPgrade Consulting Agency"",""subtitleURL"":""https://eg.linkedin.com/company/upgrade-consulting-agency?trk=public_profile_experience-item_profile-section-card_subtitle-click"",""title"":""Internship Trainee""},{""description"":""Cairo, Egypt"",""description_html"":null,""duration"":""Jun 2018 Oct 2018 5 months"",""duration_short"":""5 months"",""end_date"":""Oct 2018"",""start_date"":""Jun 2018"",""subtitle"":""Orthotic company"",""title"":""Medical Sales Representative""}]","https://www.linkedin.com/in/random-id-5837?_l=en","[]","Cairo University","[{""degree"":""Bachelor\'s degree"",""description"":null,""description_html"":null,""end_year"":""2022"",""field"":""Veterinary Medicine"",""start_year"":""2017"",""title"":""Cairo University"",""url"":""https://eg.linkedin.com/school/cairo-university/?trk=public_profile_school_profile-section-card_image-click""},{""description"":null,""description_html"":null,""title"":""Cairo University faculty of veterinary medicine""}]","","https://media.licdn.com/dms/image/C4D03AQHdThzlYwiPGQ/profile-displayphoto-shrink_200_200/0/1663249289044?e=2147483647&v=beta&t=gypt-oktGgK4tkMo3Zrs-F_c1oXh5GhVDu7yxNiXlvc","[]","[]","[]","[]","[]",2000,500,"steigenberger","Random Hotels and Resorts","[]","[]","[]","","https://www.linkedin.com/in/random-id-5837","random-id-5837";;;;'

In [13]:
def funct(row):
    print(row)
    
df.apply(funct,axis=1)

id                            random-id-2468,"Random Name","KW","","Kuwait",...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 0, dtype: object
id                            random-id-1357,"Random Name","IN","Random EduT...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 1, dtype: object
id                            random-id-8642,"Random Name","","","","{""comp...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 2, dtype: object
id                            random-id-9512,"Random Name","UK","Design Engi...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 3, dtype: object
id                            random-id-8642,"Random Name","KW","","Kuwait",...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 4, dtype: object
id                            random-id-7531,"Random Name","KW","","Kuwait",...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 5, dtype: object
id                            random-id-4820,"Random Name","NG","Volkswagen ...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 6, dtype: object
id                            random-id-9025,"Random Name","UK","","","{""co...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN
posts                                                                       NaN
experience                                                                  NaN
url                                                                         NaN
people_also_viewed                                                          NaN
educations_details                                                          NaN
education                                                                   NaN
recommendations_count                                                       NaN
avatar                                                                      NaN
languages                                                                   NaN
certifications                                                              NaN
recommendations                                                             NaN
volunteer_experience                                                        NaN
courses                                                                     NaN
followers                                                                   NaN
connections                                                                 NaN
current_company_company_id                                                  NaN
current_company_name                                                        NaN
publications                                                                NaN
patents                                                                     NaN
projects                                                                    NaN
organizations                                                               NaN
input_url                                                                   NaN
linkedin_id;;;;                                                             NaN
Name: 7, dtype: object
id                            random-id-5837,"Random Name","EG","Food Safety...
name                                                                        NaN
country_code                                                                NaN
position                                                                    NaN
city                                                                        NaN
current_company                                                             NaN
about                                                                       NaN

0    None
1    None
2    None
3    None
4    None
5    None
6    None
7    None
8    None
dtype: object

In [6]:
def cleaned_columns(df, column_name):
    def process_cleaning_rows(input_str):
        input_str = input_str.replace('""', '"')
        json_removed = re.sub(r'(\{|\[|]|\})', ' ', str(input_str))
        cleaned_text = re.sub(r'["\\|]', ' ', json_removed)
        cleaned_text = re.sub(r'[^\w\s:/\.\-?&=]', ' ', cleaned_text)
        final_cleaned = re.sub(r'\s+', ' ', cleaned_text).strip()
        return final_cleaned
    df[f'{column_name}_cleaned'] = df[column_name].apply(process_cleaning_rows)
    return df
df_cleaned1 = cleaned_columns(df, 'id')

In [7]:
df_cleaned1.loc[1, 'id_cleaned']

'random-id-2468 Random Name KW Kuwait company_id : -seara industry : Seara Alimentos LTDA link : https://br.linkedin.com/company/-seara?trk=public_profile_topcard-current-company name : Random Alimentos LTDA Experienced Unit Sales Manager with a demonstrated history of working in the foodâ attribution : By Random Name created_at : 2018-09-05T00:00:00.000Z img : https://static.licdn.com/scds/common/u/img/pic/pic_pulse_stock_article_1.jpg interaction : By Random Name link : https://www.linkedin.com/pulse/hacking-linkedin-account-ahmed-nagib?trk=public_profile_article_view title : Hacking LinkedIn Account https://www.linkedin.com/in/random-id-2468 profile_link : https://kw.linkedin.com/in/moamen-yousef-147392136?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-mahmoud-zaki-nakhla-24009557?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/yasser-yassin-46758626?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/raymond-haggar-57205156?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-zaki-elassal-56331863?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/afif-fares-70590680?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/peter-bassil-948ba937?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-alqadi-a4b47241?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-sabry-e-9a6b8970?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/nasser-mahmoud-8534ba232?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/kamal-jamal-91752993?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/nabeel-rajput-84659926?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/elie-abdallah-13b280158?trk=public_profile_browsemap-profile profile_link : https://sa.linkedin.com/in/mohamed-dosouki-52424180?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/nada-bishr-115b93a4?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/firas-othman-khalil-02763879?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/islam-el-hennawi-shrm-929736100?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/hani-shahroor-08b90348?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/tuhama-laundry-a1aa91279?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/tuhama-laundry-co-b07912167?trk=public_profile_browsemap-profile Alexandria University https://media.licdn.com/dms/image/D4D03AQEK_J4NmphASA/profile-displayphoto-shrink_200_200/0/1711987484091?e=2147483647&v=beta&t=37e74Ho2KEQEkH0FKMYvsvKxs8fEQryzd9F2LoQpITg subtitle : Professional working proficiency title : English 500 -seara Random Alimentos LTDA https://www.linkedin.com/in/random-id-2468 random-id-2468 & 8203 :citation oaicite:0 index=0 & 8203'

In [56]:
df_cleaned = df_cleaned1[['id', 'id_cleaned']]

In [57]:
df_cleaned

,id,id_cleaned
0,"random-id-2468,""Random Name"",""KW"","""",""Kuwait"",...",random-id-2468 Random Name KW Kuwait company_i...
1,"random-id-1357,""Random Name"",""IN"",""Random EduT...",random-id-1357 Random Name IN Random EduTech N...
2,"random-id-8642,""Random Name"","""","""","""",""{""""comp...",random-id-8642 Random Name company_id : shepar...
3,"random-id-9512,""Random Name"",""UK"",""Design Engi...",random-id-9512 Random Name UK Design Engineer ...
4,"random-id-8642,""Random Name"",""KW"","""",""Kuwait"",...",random-id-8642 Random Name KW Kuwait company_i...
5,"random-id-7531,""Random Name"",""KW"","""",""Kuwait"",...",random-id-7531 Random Name KW Kuwait company_i...
6,"random-id-4820,""Random Name"",""NG"",""Volkswagen ...",random-id-4820 Random Name NG Volkswagen Produ...
7,"random-id-9025,""Random Name"",""UK"","""","""",""{""""co...",random-id-9025 Random Name UK company_id : old...
8,"random-id-5837,""Random Name"",""EG"",""Food Safety...",random-id-5837 Random Name EG Food Safety & hy...

In [10]:
df_cleaned.loc[0, 'id_cleaned']

'random-id-2468 Random Name KW Kuwait company_id : -seara industry : Seara Alimentos LTDA link : https://br.linkedin.com/company/-seara?trk=public_profile_topcard-current-company name : Random Alimentos LTDA Experienced Unit Sales Manager with a demonstrated history of working in the foodâ attribution : By Random Name created_at : 2018-09-05T00:00:00.000Z img : https://static.licdn.com/scds/common/u/img/pic/pic_pulse_stock_article_1.jpg interaction : By Random Name link : https://www.linkedin.com/pulse/hacking-linkedin-account-ahmed-nagib?trk=public_profile_article_view title : Hacking LinkedIn Account https://www.linkedin.com/in/random-id-2468 profile_link : https://kw.linkedin.com/in/moamen-yousef-147392136?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-mahmoud-zaki-nakhla-24009557?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/yasser-yassin-46758626?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/raymond-haggar-57205156?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-zaki-elassal-56331863?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/afif-fares-70590680?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/peter-bassil-948ba937?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-alqadi-a4b47241?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/mohamed-sabry-e-9a6b8970?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/nasser-mahmoud-8534ba232?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/kamal-jamal-91752993?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/nabeel-rajput-84659926?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/elie-abdallah-13b280158?trk=public_profile_browsemap-profile profile_link : https://sa.linkedin.com/in/mohamed-dosouki-52424180?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/nada-bishr-115b93a4?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/firas-othman-khalil-02763879?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/islam-el-hennawi-shrm-929736100?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/hani-shahroor-08b90348?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/tuhama-laundry-a1aa91279?trk=public_profile_browsemap-profile profile_link : https://kw.linkedin.com/in/tuhama-laundry-co-b07912167?trk=public_profile_browsemap-profile Alexandria University https://media.licdn.com/dms/image/D4D03AQEK_J4NmphASA/profile-displayphoto-shrink_200_200/0/1711987484091?e=2147483647&v=beta&t=37e74Ho2KEQEkH0FKMYvsvKxs8fEQryzd9F2LoQpITg subtitle : Professional working proficiency title : English 500 -seara Random Alimentos LTDA https://www.linkedin.com/in/random-id-2468 random-id-2468 & 8203 :citation oaicite:0 index=0 & 8203'

In [ ]:
id Name country Ab_country  country  company_id industry link name  job title descr profile_link  description_html University duration duration_short end_date start_date subtitle subtitleURL

In [28]:
def extract_columns(df, cleaned_column):
    def extract_id(text):
        match = re.search(r'\bid-(\d+)\b', text)
        return f"id-{match.group(1)}" if match else None

    def extract_abbreviations(text):
        match = re.findall(r'\b[A-Z]{2}\b', text)
        return " ".join(match) if match else None

    df['id'] = df[cleaned_column].apply(extract_id)
    df['abbreviations'] = df[cleaned_column].apply(extract_abbreviations)
    return df
df_result = extract_columns(df, 'id_cleaned')

In [30]:
def extract_data(row):
    data = {
        # ID: ищем шаблон "id-число" (например, id-5837)
        'id': re.search(r'\bid-\d+\b', row),
        
        # Name: предположим, это первое слово с большой буквы (или несколько слов)
        'Name': re.search(r'\b[A-Z][a-zA-Z]+\s[A-Z][a-zA-Z]+\b', row),
        
        # Country abbreviations: два символа в верхнем регистре
        'abbreviations': re.search(r'\b[A-Z]{2}\b', row),
        
        # Country: находим страну (например, "Kuwait", "USA")
        'country': re.search(r'\b[A-Z][a-z]+\b', row),
        
        # Company ID: текст рядом с "company_id"
        'company_id': re.search(r'company_id :\s(\S+)', row),
        
        # Industry: текст рядом с "industry"
        'industry': re.search(r'industry\s([A-Za-z\s]+)', row),
        
        # Link: любая ссылка
        'link': re.search(r'https?://\S+', row),
        
        # Job Title: ищем текст рядом с "title"
        'job title': re.search(r'title :\s([A-Za-z\s\-]+)', row),
        
        # Description: текст рядом с "descr" (например, описание работы)
        'descr': re.search(r'descr :\s([A-Za-z\s\-]+)', row),
        
        # Profile Link: ищем ссылки на профили
        'profile_link': re.search(r'profile_link :\shttps?://\S+', row),
        
        # University: текст рядом с "University"
        'University': re.search(r'University\s([A-Za-z\s]+)', row),
        
        # Duration: ищем текст рядом с "duration"
        'duration': re.search(r'duration :\s([A-Za-z0-9\s\-]+)', row),
        
        # Subtitle: текст рядом с "subtitle"
        'subtitle': re.search(r'subtitle :\s([A-Za-z\s]+)', row),
        
        # Subtitle URL: текст рядом с "subtitleURL"
        'subtitleURL': re.search(r'subtitleURL :\shttps?://\S+', row),
        
        # Dates (start_date и end_date)
        'start_date': re.search(r'start_date :\s(\w+\s\d+)', row),
        'end_date': re.search(r'end_date :\s(\w+\s\d+)', row)
    }
    
    # Извлекаем данные из объектов Match и возвращаем их в виде строки
    return {key: match.group(0) if match else None for key, match in data.items()}

# Применяем функцию к колонке id_cleaned
columns = [
    'id', 'Name', 'abbreviations', 'country', 'company_id', 'industry',
    'link', 'job title', 'descr', 'profile_link', 'University',
    'duration', 'subtitle', 'subtitleURL', 'start_date', 'end_date'
]

# Предположим, `df_cleaned` содержит колонку `id_cleaned` с очищенными строками
df_extracted = df_cleaned['id_cleaned'].apply(extract_data).apply(pd.Series)

# Добавляем новые колонки в DataFrame
df_cleaned = pd.concat([df_cleaned, df_extracted[columns]], axis=1)

In [35]:
df_extracted

,id,Name,abbreviations,country,company_id,industry,link,job title,descr,profile_link,University,duration,subtitle,subtitleURL,start_date,end_date
0,id-2468,Random Name,KW,Random,company_id : -seara,None,https://br.linkedin.com/company/-seara?trk=pub...,title : Hacking LinkedIn Account https,None,profile_link : https://kw.linkedin.com/in/moam...,University https,None,subtitle : Professional working proficiency ti...,None,None,None
1,id-1357,Random Name,IN,Random,company_id : byjus,None,https://in.linkedin.com/company/byjus?trk=publ...,title : Random EduTech company,None,profile_link : https://in.linkedin.com/in/anan...,University degree,duration : Jun 2021 - Present 3 years 1 month ...,None,None,start_date : Jun 2021,end_date : May 2021
2,id-8642,Random Name,None,Random,company_id : shepard-exposition-services,None,https://www.linkedin.com/company/shepard-expos...,None,None,None,None,None,None,None,None,None
3,id-9512,Random Name,UK,Random,company_id : edf-energy,None,https://uk.linkedin.com/company/edf-energy?trk...,title : Design Engineer System health at Rando...,None,None,None,duration : Aug 2021 2 years 10 months end,subtitle : EDF UK subtitleURL,subtitleURL : https://uk.linkedin.com/company/...,start_date : Aug 2021,end_date : Aug 2021
4,id-8642,Random Name,KW,Random,company_id : global-infinity,None,https://kw.linkedin.com/company/global-infinit...,title : Professional working proficiency title,None,profile_link : https://kw.linkedin.com/in/maze...,University https,None,subtitle : Professional working proficiency ti...,None,None,None
5,id-7531,Random Name,KW,Random,company_id : global-infinity,None,https://kw.linkedin.com/company/global-infinit...,title : Professional working proficiency title,None,profile_link : https://kw.linkedin.com/in/maze...,University https,None,subtitle : Professional working proficiency ti...,None,None,None
6,id-4820,Random Name,NG,Random,None,None,https://m.facebook.com/profile.php?id=72082108...,title : Volkswagen Product at Random Auto Sale...,None,profile_link : https://ng.linkedin.com/in/taiw...,None,None,None,None,None,None
7,id-9025,Random Name,UK,Random,company_id : oldmill,None,https://uk.linkedin.com/company/oldmill?trk=pu...,None,None,None,University of Exeter https,None,None,None,None,None
8,id-5837,Random Name,EG,Random,company_id : steigenberger,None,https://de.linkedin.com/company/steigenberger?...,title : Food Safety,None,None,University degree,duration : Oct 2023 8 months end,subtitle : Random Hotels and Resorts subtitleURL,subtitleURL : https://de.linkedin.com/company/...,start_date : Oct 2023,end_date : Oct 2023

In [56]:
def remove_exact_prefixes(df_extracted):
    for column in df_extracted.columns:
        df_extracted[column] = df_extracted[column].apply(
            lambda x: x[len(column) + 2:].strip() if isinstance(x, str) and x.startswith(f"{column} :") else x
        )
    return df_extracted

df_extracted = remove_exact_prefixes(df_extracted)

print(df_extracted.head())

        id         Name abbreviations country                   company_id  \
0  id-2468  Random Name            KW  Random                       -seara
1  id-1357  Random Name            IN  Random                        byjus
2  id-8642  Random Name          None  Random  shepard-exposition-services
3  id-9512  Random Name            UK  Random                   edf-energy
4  id-8642  Random Name            KW  Random              global-infinity

  industry                                               link  \
0     None  https://br.linkedin.com/company/-seara?trk=pub...
1     None  https://in.linkedin.com/company/byjus?trk=publ...
2     None  https://www.linkedin.com/company/shepard-expos...
3     None  https://uk.linkedin.com/company/edf-energy?trk...
4     None  https://kw.linkedin.com/company/global-infinit...

                                           job title descr  \
0             title : Hacking LinkedIn Account https  None
1                    title : Random EduTech company   None
2                                               None  None
3  title : Design Engineer System health at Rando...  None
4    title : Professional working proficiency title   None

                                        profile_link          University  \
0  https://kw.linkedin.com/in/moamen-yousef-14739...    University https
1  https://in.linkedin.com/in/anand-kumar-pandey-...  University degree
2                                               None                None
3                                               None                None
4  https://kw.linkedin.com/in/mazen-sahyouni-b281...    University https

                                      duration  \
0                                         None
1  Jun 2021 - Present 3 years 1 month duration
2                                         None
3               Aug 2021 2 years 10 months end
4                                         None

                                 subtitle  \
0  Professional working proficiency title
1                                    None
2                                    None
3                      EDF UK subtitleURL
4  Professional working proficiency title

                                         subtitleURL start_date  end_date
0                                               None       None      None
1                                               None   Jun 2021  May 2021
2                                               None       None      None
3  https://uk.linkedin.com/company/edf-energy?trk...   Aug 2021  Aug 2021
4                                               None       None      None

In [57]:
df_extracted

,id,Name,abbreviations,country,company_id,industry,link,job title,descr,profile_link,University,duration,subtitle,subtitleURL,start_date,end_date
0,id-2468,Random Name,KW,Random,-seara,None,https://br.linkedin.com/company/-seara?trk=pub...,title : Hacking LinkedIn Account https,None,https://kw.linkedin.com/in/moamen-yousef-14739...,University https,None,Professional working proficiency title,None,None,None
1,id-1357,Random Name,IN,Random,byjus,None,https://in.linkedin.com/company/byjus?trk=publ...,title : Random EduTech company,None,https://in.linkedin.com/in/anand-kumar-pandey-...,University degree,Jun 2021 - Present 3 years 1 month duration,None,None,Jun 2021,May 2021
2,id-8642,Random Name,None,Random,shepard-exposition-services,None,https://www.linkedin.com/company/shepard-expos...,None,None,None,None,None,None,None,None,None
3,id-9512,Random Name,UK,Random,edf-energy,None,https://uk.linkedin.com/company/edf-energy?trk...,title : Design Engineer System health at Rando...,None,None,None,Aug 2021 2 years 10 months end,EDF UK subtitleURL,https://uk.linkedin.com/company/edf-energy?trk...,Aug 2021,Aug 2021
4,id-8642,Random Name,KW,Random,global-infinity,None,https://kw.linkedin.com/company/global-infinit...,title : Professional working proficiency title,None,https://kw.linkedin.com/in/mazen-sahyouni-b281...,University https,None,Professional working proficiency title,None,None,None
5,id-7531,Random Name,KW,Random,global-infinity,None,https://kw.linkedin.com/company/global-infinit...,title : Professional working proficiency title,None,https://kw.linkedin.com/in/mazen-sahyouni-b281...,University https,None,Professional working proficiency title,None,None,None
6,id-4820,Random Name,NG,Random,None,None,https://m.facebook.com/profile.php?id=72082108...,title : Volkswagen Product at Random Auto Sale...,None,https://ng.linkedin.com/in/taiwo-daniel-aa9b15...,None,None,None,None,None,None
7,id-9025,Random Name,UK,Random,oldmill,None,https://uk.linkedin.com/company/oldmill?trk=pu...,None,None,None,University of Exeter https,None,None,None,None,None
8,id-5837,Random Name,EG,Random,steigenberger,None,https://de.linkedin.com/company/steigenberger?...,title : Food Safety,None,None,University degree,Oct 2023 8 months end,Random Hotels and Resorts subtitleURL,https://de.linkedin.com/company/steigenberger?...,Oct 2023,Oct 2023

In [58]:
df_extracted['job title']

0               title : Hacking LinkedIn Account https
1                      title : Random EduTech company
2                                                 None
3    title : Design Engineer System health at Rando...
4      title : Professional working proficiency title
5      title : Professional working proficiency title
6    title : Volkswagen Product at Random Auto Sale...
7                                                 None
8                                 title : Food Safety
Name: job title, dtype: object

In [59]:
df_extracted['job title'] = df_extracted['job title'].apply(
    lambda x: x.replace('title :', '').strip() if isinstance(x, str) else x
)

In [65]:
df_extracted.columns
df_extracted = df_extracted.fillna('')

In [66]:
client.insert('card_data.darknet_data', df_extracted)

In [17]:
text = '[{"apple": "value1"},{"b": "va"}],[{"apple": "value1"},{"b": "va"}]'
result  = re.findall(r'\[{.*}\]',  text)
print(result)

['[{"apple": "value1"},{"b": "va"}],[{"apple": "value1"},{"b": "va"}]']